/* Dark theme – inverse of light */
html, body {background:#fff;color:#000;}
header {background:#000;color:#fff;}
footer {background:#eee;}
textarea,
input[type="password"]{
  background:#fafafa;color:#000;border:1px solid #bbb;
}
button{
  background:#fff;color:#000;
}
button:hover{background:#ddd;}
